html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 22.5%;
    border-color: black;
    border-style: solid;
    border-width: 0.35em;
    box-sizing: border-box;
}
.display{
    width: 100%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 0em 0em 0.05em 0em;
    text-align: right;
    text-wrap: wrap;
    background-color: #ffffff;
    font-size:80px;
    box-sizing: border-box;
    transition: font-size 0.3s ease;
}
button{
    font-size: 24px;
}
.button{
    min-width: 25%;
    width: 25%;
    height: 100px;
}
.button-0{
    min-width: 50%;
    width: 50%;
}
.button.number, .button-0, button.decimal{
    background-color: rgb(175, 5, 5);
    color: white;
}

.button.ac {
    background-color: rgba(240, 14, 14, 0.808);
}
.button.operand, .button.negPos{
    background-color: rgba(240, 14, 14, 0.808);
}
.button.equals{
    background-color: rgba(240, 14, 14, 0.808);
}
button:active{

    border-color: white;
    border-style :solid;
}

